/* VARIABLES */
:root {
  /* Colors */
  --colorSunny: #fff9db;
  --colorRed: #f74949;
  --colorBlack: rgb(15, 0, 46);
  --colorFrost: rgba(255, 255, 255, 0.6);

  /* Assigned Colors */
  --mainBackground: var(--colorSunny);
  --buttonColor: var(--colorRed);
  --textColor: var(--colorBlack);
  --containerColor: var(--colorFrost);

  /* Style */
  --blur: blur(10px);
  --corner: 30px;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--mainBackground);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><text y="20" font-size="20">🌼</text><text x="30" y="50" font-size="20">☀️</text><text x="60" y="80" font-size="20">🍋</text></svg>');
  background-repeat: repeat;
  background-size: 100px 100px; /* Size pattern repetition */
  background-attachment: fixed; 
  margin: 0;
}

.content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_container {
  width: 100%;
  box-sizing: border-box; 
  overflow-wrap: break-word; 
  word-wrap: break-word; /* For older browsers */
  white-space: pre-wrap; 
  resize: none; 
  font-family: inherit;
  line-height: inherit; 
  background-color: #ffffff00; 
  border: none;
  height: fit-content;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Button Styles */
button {
  background-color: var(--buttonColor);
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button_small {
  width: fit-content;
}

/* Button Hover Effect */
button:hover {
  opacity: 0.8;
}

/* Container Padding */
.container {
  padding: 16px;
}

/* Text Styles */
h1, h2, h3, p {
  color: var(--textColor);
  margin: 0;
}

h1 {
  text-align: center;
  max-width: 50%;
}

h2, h3 {
  text-align: center;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Input Styles */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

/* Responsive Styles */
/* @media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
} */

/* NAVBAR */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: var(--containerColor);
  backdrop-filter: var(--blur); /* Apply blur effect */
  border-radius: var(--corner);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: calc(100% - 20px);
  z-index: 1000;
}

.topnav a {
  text-decoration: none;
  color: var(--textColor);
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--buttonColor);
  color: white;
}

/* ENTRIES */
.entry_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry_div {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  background-color: var(--containerColor);
  backdrop-filter: var(--blur);
  border-radius: var(--corner);
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entry_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 25px;
}

.entry_description {
  max-height: 200px;
  overflow: hidden;
  margin: 0;
}

.entry_title {
  background-color: var(--containerColor);
  border-radius: calc(var(--corner) - 5px);
}

.entry_page_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry_page_body {
  width: 75%;
}

.edit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.flex1 {
  flex: 1;
}

.align_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container_background {
  padding: 20px;
  background-color: var(--containerColor);
  backdrop-filter: var(--blur);
  border-radius: var(--corner);
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.red_text {
  color: var(--buttonColor);
}
