{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block body %}

<div class="main entry_body">
    {% for item in list %}
    {% set side = loop.index %}
    <div class="entry_div">
        {% for i in range(2) %}
            {% set side = side + loop.index %}
            {% if side%2 == 0 %}
            <div class="entry_container entry_title">
                <h2>{{ item[1] }}</h2>
                <div class="entry_description">
                    <p class="entry_description">{{ item[2] }}</p>
                </div>
            </div>
            {% else %}
            <div class="entry_container entry_date">
                <p>{{ item[0] }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}


