{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block body %}

<div class="main entry_body">
    <a href="{{ url_for('simple_pages.new_entry') }}">
        <button>New Entry</button>
    </a>
    <!-- Loop through all entries -->
    {% for entry in entries %}
    <!-- alternately left and right aligned -->
    {% set side = loop.index %}
    <a href="{{ url_for('simple_pages.entry', entry_id=entry.id) }}" class="entry_div">
        {% for i in range(2) %}
            {% set side = side + loop.index %}
            {% if side%2 == 0 %} 
            <div class="entry_container entry_title">
                <h2>{{ entry.title }}</h2>
                <div class="entry_description">
                    <p class="entry_description">{{ entry.date.strftime('%d.%m.%Y') }}</p>
                </div>
            </div>
            {% else %}
            <div class="entry_container entry_date">
                <p>{{ entry.content }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </a>
    {% endfor %}
</div>
{% endblock %}


