{% extends "base.html" %}

{% block title %}Entry{% endblock %}

{% block body %}

<body>
    <div class="entry_page_head">
        <h3>
            {{ entry.date.strftime('%d.%m.%Y') }}
        </h3>
        <!-- Link to Edit - Passing entry id -->
        <a href="{{ url_for('simple_pages.edit_entry', entry_id=entry.id) }}">
            <button class="edit_button">
                EDIT
            </button>
        </a>
    </div>
    <div class="entry_page_body">
        <h1>{{ entry.title }}</h1>
        <p>
            {{ entry.content }}
        </p>
    </div>

{% endblock %}