{% extends "base.html" %}

{% block title %}New Entry{% endblock %}

{% block body %}

<div class="entry_page_body">
    <form method="post">
        <div class="entry_page_head">

            <div class="flex1">
                <input type="date" id="date" name="date" value="{{ current_date }}" required>
            </div>

            <div class="flex1">
                <input type="text" id="title" name="title" value="Title" required>
            </div>

            <div class="flex1"></div>

        </div>

        <div>
            <textarea class="text_container" id="content" name="content" required oninput="autoResize(this)">...</textarea>
        </div>
        
        <script>
            function autoResize(textarea) {
                textarea.style.height = 'auto'; // Reset the height
                textarea.style.height = textarea.scrollHeight + 'px'; // Set the height to match the content
            }
    
            // Initialize the height on page load
            document.addEventListener('DOMContentLoaded', function() {
                const textarea = document.getElementById('content');
                if (textarea) {
                    autoResize(textarea);
                }
            });
        </script>

        <div class="align_right">
            <a href="{{ url_for('simple_pages.calendar') }}">Cancel</a>
            <button class="button_small" type="submit">Add Entry</button>
        </div>
    </form>
</div>
{% endblock %}