{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block body %}
<div class="loginDiv">
    <div class="loginContainer container">

        <form method="post">
            <h1>Register</h1>
            <div class="form-group">
                <input type="text" placeholder="Username" id="uname" name="uname" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" id="pword" name="pword" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <a href="{{ url_for('simple_pages.login') }}">
            <p>Login</p>
        </a>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>
</div>
{% endblock %}
